.container {
  width: 400px;
  display: grid;
  grid-template-columns: 40% minmax(0, 1fr);
  font-size: 15px;
  border-radius: 10px;
  align-content: center;
  padding: 12px;
  overflow: hidden;
  background-color: #212029;
}

.info-container {
  padding-left: 1rem;
}

.link {
  text-decoration: none;
}

.building-name {
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;
}

.label {
  color: #A4A5B3;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.value {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.image-container {
  padding: 1rem;
  position: relative;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}